[Unit]
Description=GoFileServer service
After=network.target

[Service]
User=sreekar339
WorkingDirectory=/home/sreekar339/backend/go/fileServer
Environment="ENV=prod"
ExecStart=/home/sreekar339/backend/go/fileServer/GoFileServer

[Install]
WantedBy=multi-user.target